<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Appli bibliothécaire</title>
</head>
<body>
<h1>Application Bibliothécaire</h1>
<p>Voici les différentes tâches possibles : </p>
<ul>
    <li><a href="/librarian/">Créer un membre-emprunteur</a></li>
    <li><a href="/librarian/">Afficher la liste des membres</a></li>
    <li><a href="/librarian/">Mettre à jour un membre</a></li>
    <li><a href="/librarian/">Supprimer un membre</a></li>
    <li><a href="/librarian/">Afficher la liste des médias</a></li>
    <li><a href="/librarian/">Créer un emprunt pour un média disponible</a></li>
    <li><a href="/librarian/">Ajouter un media</a></li>
    <li><a href="/librarian/">Rentrer un emprunt</a></li>
</ul>
</body>
</html>