<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des médias</title>
</head>
<body>
    <h1>Liste des médias</h1>
    <h2>Livres :</h2>
    <ol>
        {% for book in books %}
        <li>
            <ul>
                <li>Nom: {{ book.name }}</li>
                <li>Auteur: {{ book.author }}</li>
                {% if book.availability == True %}
                <li>Disponible :  Oui</li>
                <a href="{% url 'borrowing_book' book.id %}">Ajouter un emprunt</a>
                {% else %}
                <li>Disponible: Non </li>

                <li>Emprunteur: {{ book.borrower }}</li>
                <li>Date d'emprunt: {{ book.borrowingDate }}</li>
                {% endif %}
            </ul>
            <br>
        </li>
        {% endfor %}
    </ol>
    <h2>Dvds :</h2>
    <ul>
        {% for dvd in dvds %}
        <li>
            <ul>
                <li>Nom: {{ dvd.name }}</li>
                <li>Réalisateur: {{ dvd.producer }}</li>
                {% if dvd.availability == True %}
                <li>Disponible :  Oui</li>
                <a href="{% url 'borrowing_dvd' dvd.id %}">Ajouter un emprunt</a>
                {% else %}
                <li>Disponible: Non </li>
                <li>Emprunteur: {{ dvd.borrower }}</li>
                <li>Date d'emprunt: {{ dvd.borrowingDate }}</li>
                {% endif %}
            </ul>
            <br>
        </li>
        {% endfor %}
    </ul>
    <h2>Cds :</h2>
    <ul>
        {% for cd in cds %}
        <li>
            <ul>
                <li>Nom: {{ cd.name }}</li>
                <li>Artiste: {{ cd.entertainer }}</li>
                {% if cd.availability == True %}
                <li>Disponible :  Oui</li>
                <a href="{% url 'borrowing_cd' cd.id %}">Ajouter un emprunt</a>
                {% else %}
                <li>Disponible: Non </li>
                <li>Emprunteur: {{ cd.borrower }}</li>
                <li>Date d'emprunt: {{ cd.borrowingDate }}</li>
                {% endif %}
            </ul>
            <br>
        </li>
        {% endfor %}
    </ul>
<button><a href="/librarian/">Retour au menu</a></button>
</body>
</html>